.range {
  width: 100%;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.title {
  font-family: "Cormorant+SC";
  font-weight: 500;
  font-size: 12px;
  line-height: 14.5px;
  user-select: none;
  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.3px;
  }
}
.crosshair {
  width: 12px;
  height: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}
.line {
  border-top: 1.4px solid var(--color-gray);
  width: 100%;
  position: absolute;
  transition: transform 0.2s ease-in-out;
}
.horizontal {
  transform: rotate(0deg);
}
.vertical {
  transform: rotate(90deg);
}
.inputBox {
  display: flex;
  align-items: center;
  gap: 17px;
  input:last-child {
    padding-left: 23px;
  }
}
.rangeInp {
  background-color: var(--color-gray-input);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  width: 66px;
  height: 33px;
  padding-left: 18px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16.8px;
  &:hover,
  &:focus {
    border: 1px solid var(--color-text);
  }
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 19.6px;
    height: 36px;
  }
}
.rangeDef {
  border-top: 1.4px solid var(--color-gray-secondary);
  width: 16px;
}
